<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-AU" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/home.css?v=" | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}
  </head>
  <body>
    <a class="skip-link" href="#main-content">Skip to content</a>
    <div id="main-content">
      {{ content }}
    </div>
    <footer>
      <span class="footer-signature" aria-label="Made by Tooc with love and music">
        Made by Tooc with <i class="fas fa-fw fa-heart" aria-hidden="true"></i> and <i class="fas fa-fw fa-music" aria-hidden="true"></i>
      </span>
      <a class="footer-coffee-link" href="https://buymeacoffee.com/tooc">Buy me a 🧋</a>
    </footer>
  </body>
</html>
